In [17]:
from alpha_vantage.timeseries import TimeSeries
import json
import pandas as pd
class ScriptData:
    data_dict = {}
    
    def __init__(self):
        self.ts = TimeSeries(key='YXYO83L4QEYC16GP')
    
    def fetch_intraday_data(self,script):
        self.data_dict[script] = (self.ts.get_intraday(script))[0]
    
    def convert_intraday_data(self,script):
#         dict = json.load(self.data_dict[script])
#         self.df = json.normalize(dict)
        df = pd.read_json(json.dumps(self.data_dict[script],indent = 4))
        self.data_dict[script] = df
        
    def __getitem__(self,key):
        return self.data_dict[key].transpose()
#         print (self.data_dict[key].transpose().to_string())
        
    def __setitem__(self,key,value):
        self.data_dict[key] = value
        
    def __contains__(self,key):
        if key in self.data_dict.keys():
            return True
        return False

In [18]:
script_data = ScriptData()

In [19]:
script_data.fetch_intraday_data('GOOGL')

In [20]:
script_data.fetch_intraday_data('AAPL')

In [21]:
script_data.convert_intraday_data('GOOGL')

In [22]:
script_data.convert_intraday_data('AAPL')

In [23]:
script_data['GOOGL']

                     1. open  2. high   3. low  4. close  5. volume
2022-12-22 20:00:00  87.6300  87.6400  87.5000    87.550     3869.0
2022-12-22 19:45:00  87.6100  87.6600  87.6000    87.660      878.0
2022-12-22 19:30:00  87.6700  87.7100  87.6700    87.710     1043.0
2022-12-22 19:15:00  87.7400  87.7500  87.7400    87.750     2483.0
2022-12-22 19:00:00  87.7100  87.7600  87.6200    87.740     2687.0
...                      ...      ...      ...       ...        ...
2022-12-21 11:45:00  89.6995  90.0679  89.6800    89.930   819896.0
2022-12-21 11:30:00  89.7350  89.7800  89.4201    89.690   617082.0
2022-12-21 11:15:00  89.5900  89.8300  89.5700    89.730   812520.0
2022-12-21 11:00:00  89.5950  89.7100  89.3801    89.580   652984.0
2022-12-21 10:45:00  89.2250  89.7050  89.1500    89.595   901117.0

[100 rows x 5 columns]

In [8]:
script_data['AAPL']

,2022-12-22 20:00:00,2022-12-22 19:45:00,2022-12-22 19:30:00,2022-12-22 19:15:00,2022-12-22 19:00:00,2022-12-22 18:45:00,2022-12-22 18:30:00,2022-12-22 18:15:00,2022-12-22 18:00:00,2022-12-22 17:45:00,...,2022-12-21 13:30:00,2022-12-21 13:15:00,2022-12-21 13:00:00,2022-12-21 12:45:00,2022-12-21 12:30:00,2022-12-21 12:15:00,2022-12-21 12:00:00,2022-12-21 11:45:00,2022-12-21 11:30:00,2022-12-21 11:15:00
1. open,131.54,131.57,131.76,132.00,132.09,132.06,132.14,132.19,132.17,132.11,...,1.358842e+02,1.360100e+02,1.357001e+02,1.351600e+02,1.354087e+02,135.530,1.358600e+02,135.945,136.265,136.60
2. high,131.57,131.70,131.77,132.01,132.16,132.14,132.18,132.19,132.23,132.19,...,1.359100e+02,1.361700e+02,1.360100e+02,1.357800e+02,1.355000e+02,135.554,1.359400e+02,136.160,136.395,136.81
3. low,131.25,131.51,131.53,131.73,132.03,132.06,132.05,132.00,132.10,132.09,...,1.351600e+02,1.358300e+02,1.355400e+02,1.351500e+02,1.350800e+02,135.180,1.352810e+02,135.510,135.715,136.12
4. close,131.30,131.55,131.60,131.78,132.03,132.14,132.05,132.14,132.17,132.15,...,1.351900e+02,1.358899e+02,1.359935e+02,1.357084e+02,1.351620e+02,135.410,1.355288e+02,135.850,135.941,136.27
5. volume,34478.00,13169.00,15805.00,16303.00,27526.00,3789.00,21208.00,19780.00,24221.00,12767.00,...,2.676888e+06,1.816245e+06,1.731617e+06,1.820049e+06,1.796996e+06,3800848.000,2.486849e+06,2223386.000,2533202.000,3860835.00

In [9]:
'GOOGL' in script_data

True

In [10]:
'NAV' in script_data

False